h1 {
  padding-top: 1em;
  padding-bottom: 0.5em;
  color: #047C51;
  text-align: center;
  padding-left: 2em;
  padding-right: 2em;
  font-family: Verdana, Geneva, sans-serif; 
}

li {
  margin-bottom: 0.3em;
}

body {
  font-family: Verdana, Geneva, sans-serif; 
  margin-left: 2em;
  margin-right: 2em;
}

p {
   font-family: Verdana, Geneva, sans-serif;
   line-height: 1.4;
}

#title {
  font-size: 30px;
  cursor: pointer;
}

.navbar {
  overflow: hidden;
  background-color: #047C51;
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5em;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

a:hover, .dropdown:hover .dropbtn {
  background-color: rgba(30, 236, 130, 0.892);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px #047C51;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* The side navigation menu */
.sidenav {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 33%;
  overflow: auto;
}

/* sidenav links */
.sidenav a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Links on mouse-over */
.sidenav a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidenav's width property */
div.content {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 205px;
  padding: 1px 16px;
  height: 850px;
  letter-spacing: 0.5px;
}

/* On screens that are less than 700px wide, make the sidenav into a topbar */
@media screen and (max-width: 700px) {
.sidenav {
  width: 100%;
  height: 20px;
  position: relative;
}

.sidenav a {float: left;}
div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
.sidenav a {
  text-align: center;
  float: none;
}
}