h1 {
  padding-top: 1em;
  padding-bottom: 0.5em;
  color: #047C51;
  text-align: center;
  padding-left: 2em;
  padding-right: 2em;
  font-family: Verdana, Geneva, sans-serif; 
}

body {
  font-family: Verdana, Geneva, sans-serif; 
  margin-left: 2em;
  margin-right: 2em;
}

p {
   font-family: Verdana, Geneva, sans-serif;
   line-height: 1.4;
}

li {
   font-family: Verdana, Geneva, sans-serif;
   line-height: 1.4;
}

#title {
  font-size: 30px;
  cursor: pointer;
}

.navbar {
  overflow: hidden;
  background-color: #047C51;
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5em;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

a:hover, .dropdown:hover .dropbtn {
  background-color: rgba(30, 236, 130, 0.892);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px #047C51;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#introduction {
  margin-top: 3em;
  text-align: center;
}

#searchSection {
    margin-top: 4em;
    display: flex;
    justify-content: space-evenly;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus {
  border: 3px solid #555;
}

input[type=submit] {
  margin-top: 2em;
  margin-left: 9em;
  padding:5px 15px; 
  color: white;
  font-size: 20px;
  background:#047C51;
  border:0 none;
  cursor:pointer;
  border-radius: 5px;
}