<html>
  <!-- all pages start and end with this tag -->
  <!-- Header information: links to external scripts and style files, other metadata about the page. -->
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/info.css') }}"
    />
    <!-- The title is mandatory. If you use tabs, the title appears in the page's tab in your browser.-->
    <title>H-1B Data Hub</title>
  </head>
  <!-- The body consists of the visible parts of the web page. -->
  <body>
    <h1><div id="title" onclick="location.href='/home'">H-1B Data Hub</div></h1>

    <div class="navbar">
      <a href="/about">ABOUT</a>
      <div class="dropdown">
        <button class="dropbtn">
          FEATURES
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/companies/search">COMPANY SEARCH</a>
          <a href="/ranking">TOP 10 RANKING</a>
        </div>
      </div>
      <a href="/contact">CONTACT</a>
    </div>

    <div class = "instruction">
        <p>
          <br>This website allows users to gather information about H1b-Visa administered by the US government.
          <br>H1b-Visa is a work visa for non-citizens and non-permanent residents. Information conveyed by
          this program include the initial approvals, continual approvals, initial denials and continual
          denials for approximately 50,000 companies that operate within the US. <br><br>
        </p>
    </div>

  </body>
</html>
