<html>
  <!-- all pages start and end with this tag -->
  <!-- Header information: links to external scripts and style files, other metadata about the page. -->
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/ranking.css') }}"
    />
    <!-- The title is mandatory. If you use tabs, the title appears in the page's tab in your browser.-->
    <title>H-1B Data Hub</title>
  </head>
  <!-- The body consists of the visible parts of the web page. -->
  <body>
    <h1><div id="title" onclick="location.href='/home'">H-1B Data Hub</div></h1>
        <div class="navbar">
            <a href="/about">ABOUT</a>
            <div class="dropdown">
            <button class="dropbtn">
                FEATURES
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/companies/search">COMPANY SEARCH</a>
                <a href="/ranking">TOP 10 RANKING</a>
            </div>
            </div>
            <a href="/contact">CONTACT</a>
        </div>

        <div class="sidenav">
            <a href="/ranking/year/2022">2022</a>
            <a href="/ranking/year/2021">2021</a>
            <a href="/ranking/year/2020">2020</a>
            <a href="/ranking/year/2019">2019</a>
            <a href="/ranking/year/2018">2018</a>
        </div>
        
        <div class="content">
            <h3> Top 10 Companies with Initial Approvals for {{year}}</h3>
            <ol>
                {% for company in initialApprovalsRanking: %}
                    <li><strong>{{ company.name }}</strong> => {{company.initialApprovals}} Initial Approvals</li>
                {% endfor %}
            </ol>

            <h3> Top 10 Companies with Initial Denials for {{year}}</h3>
            <ol>
                {% for company in initialDenialsRanking: %}
                    <li><strong>{{ company.name }}</strong> => {{company.initialDenials}} Initial Denials</li>
                {% endfor %}
            </ol>

            <h3> Top 10 Companies with Continuing Approvals for {{year}}</h3>
            <ol>
                {% for company in continuingApprovalsRanking: %}
                    <li><strong>{{ company.name }}</strong> => {{company.continuingApprovals}} Continuing Approvals</li>
                {% endfor %}
            </ol>

            <h3> Top 10 Companies with Continuing Denials for {{year}}</h3>
            <ol>
                {% for company in continuingDenialsRanking: %}
                    <li><strong>{{ company.name }}</strong> => {{company.continuingDenials}} Continuing Denials</li>
                {% endfor %}
            </ol>

        </div>
    </body>
</html>